/*
    This file is part of amsel.
    SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
    SPDX-License-Identifier: GPL-3.0-or-later

    Additional CSS for amsel.
*/

.filetype {
    font-family: "Fira Mono", fira-mono, monospace, color-emoji;
    font-size: 80%;
}

.copy-to-clipboard {
    display: inline-block;
    visibility: hidden;
}

.copy-to-clipboard-container:hover .copy-to-clipboard {
    visibility: visible;
}

 .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -130px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
