<!DOCTYPE html>

{{ """
<!--
This file is part of amsel.
SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
SPDX-License-Identifier: GPL-3.0-or-later
-->
""" }}

{# Required context variables: specfiles, formats #}
{%- set title = "Amsel Documentation" -%}
<html lang="en">
	<head>
		<title>{{ title }}</title>

		{% set topics_intro = ['intro_about', 'intro_howto', 'intro_files'] %}
		{% set topics_format = ['formats', 'counts', 'lengths', 'block_types', 'paths', 'magics', 'image_formats'] %}
		{% set topics_other_files = ['files_bgruppen', 'files_music', 'files_help', 'files_script'] %}
		{% set topics_modding = ['mod_structure', 'mod_commands'] %}

		{% set separate_specs = ['dll_frame', 'dll_welt', 'dll_view'] %}

		{% macro topic_list(items) -%}
			{# This builds a list of links to introductory documentation topics in topic_*.html. #}
			{# usage: {{ topic_list(['about', '...']) }} #}
			{% for top in items %}
				{% import 'topic_'~top~'.html' as tmp %}
				<li><a href="#{{ tmp.id }}">{{ tmp.name }}</a>{% if tmp.brief %}: {{ tmp.brief|e|flags }}{% endif %}</li>
			{% endfor %}
		{%- endmacro %}

		{% macro topic_section(title, id, items) -%}
			{# This includes the actual topic files. #}
			{# usage: {{ topic_section([...]) }} #}
			<section>
				<h1 id="topics-{{ id|e }}">{{ title|e }}</h1>
				{% for top in items %}
					{% include 'topic_'~top~'.html' %}
				{% endfor %}
			</section>
		{%- endmacro %}

		<style>{% include 'base.css' %}</style>
		<style>{% include 'adwaita.css' %}</style>
		<style>{% include 'extra.css' %}</style>
		<style>{% include 'default.css' %}</style>
		<script>{% include 'main.js' %}</script>
		<meta charset="UTF-8"> {#- default in HTML 5 but makes Firefox happy #}
	</head>
	<body>
		<section>
			<h1>{{ title }}</h1>

			<section>
				<h2 id="toc">Table of Contents</h2>
				<ul>
					<li id="toc-intro">Introduction
						<ul>{{ topic_list(topics_intro) }}</ul>
					</li>
				</ul>
				<ul>
					<li id="toc-conventions">Data types and conventions
						<ul>{{ topic_list(topics_format) }}</ul>
					</li>
				</ul>
				{% if specfiles %}
				<ul>
					<li id='toc-spec'>Binary data file specifications
						<ul>
							{% for spec in specfiles if spec.ident not in separate_specs %}
								{% set descr = spec.xml.find('file').find('what', recursive=False) %}
								<li><a href="#file-{{ spec.ident|e }}">{{ spec.title|e }}</a>
									{%- if descr and descr.contents -%}
										<span>: {{ descr.contents|join('')|xe|flags }}</span>
									{%- endif -%}
								</li>
							{%- endfor %}
						</ul>
					</li>
				</ul>
				<ul>
					<li id='toc-spec-extra'>Special binary file specifications
						<ul>
							{% for spec in specfiles if spec.ident in separate_specs %}
								{% set descr = spec.xml.find('file').find('what', recursive=False) %}
								<li><a href="#file-{{ spec.ident|e }}">{{ spec.title|e }}</a>
									{%- if descr and descr.contents -%}
										<span>: {{ descr.contents|join('')|xe|flags }}</span>
									{%- endif -%}
								</li>
							{%- endfor %}
						</ul>
					</li>
				</ul>
				{% endif %}
				<ul>
					<li id='toc-spec-enby'>Other data file specifications
						<ul>{{ topic_list(topics_other_files) }}</ul>
					</li>
				</ul>
				<ul>
					<li id='toc-modding'>Modding
						<ul>{{ topic_list(topics_modding) }}</ul>
					</li>
				</ul>
			</section>

			{{ topic_section("Introduction", "intro", topics_intro) }}

			{# the 'formats' template expects 'formats' in the context #}
			{{ topic_section("Data types and conventions", "conventions", topics_format) }}

			<section>
				<h1 id="topics-specs">Binary data file specifications</h1>
				{% for spec in specfiles if spec.ident not in separate_specs %}
					{# the template expects 'spec' to be the current Spec.Definition object #}
					{% include 'spec.html' %}
				{% endfor %}
			</section>

			<section>
				<h1 id="topics-specs-extra">Special binary file specifications</h1>
				{% for spec in specfiles if spec.ident in separate_specs %}
					{# the template expects 'spec' to be the current Spec.Definition object #}
					{% include 'spec.html' %}
				{% endfor %}
			</section>

			{{ topic_section("Other data file specifications", "files", topics_other_files) }}

			{{ topic_section("Modding", "mods", topics_modding) }}

		</section>
	</body>
</html>
