{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-mod-commands' %}
{% set name = 'Commands' %}

{% block text %}
TBD.
{% endblock %}

{% block table %}
	<tr>
		<td>
{% highlight 'xml+jinja' %}
<load-palette
	id="..."
	source="file.{png,gpl}"
	id-select="..."
	id-value="..."
/>
{% endhighlight %}
		</td>
		<td>
			<code>Resolves to...</code>
	</tr>
{% endblock %}

{% block textbelow %}
{% endblock %}
