{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-intro-files' %}
{# {% set iid = 'files-list' %} #}
{% set name = 'The files' %}

{% block text -%}
<p>The table below lists all game data files. Many files are actually plain text
files. The library only works with hierarchical binary files. All file paths
in the table are relative to the base game directory, i.e. where the game was
installed.</p>
{%- endblock %}

{% block table_full %}

{% set entries = [
	(
		"/",
		"Root folder of the game installation. All file paths below are relative to this folder.",
		"",
		"",
	),
	(
		"1503Startup.exe",
		"Main executable of the game.",
		"compiled program",
		"",
	),
	(
		"Anlagen.dat",
		"Logic and bitmaps of immovable game objects.",
		"binary",
		"anlagen",
	),
	(
		"FigurenHeader.dat",
		"Logic and bitmap headers of all mobile game objects.",
		"binary",
		"figuren",
	),
	(
		"Figuren???.dat",
		"Image data for the @t:FigurenHeader.dat@ file.",
		"binary",
		"figuren",
	),
	(
		"AnnoDisplay.dll",
		"",
		"",
		"",
	),
	(
		"AnnoFrame.dll",
		"",
		"",
		"",
	),
	(
		"AnnoGame.dll",
		"",
		"",
		"",
	),
	(
		"AnnoScene.dll",
		"",
		"",
		"",
	),
	(
		"AnnoWelt.dll",
		"",
		"",
		"",
	),
	(
		"CompLogic.dll",
		"",
		"",
		"",
	),
	(
		"CompLogicClassic.dll",
		"",
		"",
		"",
	),
	(
		"View.dll",
		"",
		"",
		"",
	),
	(
		"Texte.dat",
		"Translations for the user interface, city names, ship names, etc.",
		"plain text",
		"",
	),
	(
		"InstantHelpLinks.txt",
		"References to help files for the active help system.",
		"",
		"",
	),
	(
		"CVS/*",
		"Folder containing remains of a content versioning system used during game development.",
		"plain text",
		"",
	),
	(
		"Data/BGruppen.dat",
		"Definitions of prices, population needs, wares, etc.",
		"plain text",
		"nb-bgruppen",
	),
	(
		"Data/ControlChars.bat",
		"Remains of a game data pipeline for importing fonts.",
		"shell script",
		"",
	),
	(
		"Data/Debug.dat",
		"A behind-the-scenes look at the Max Design game development studio.",
		"bink video",
		"",
	),
	(
		"Data/Felder.dat",
		"An uncompiled @s:tex@ file header describing the <tt>Textures/Felder.tex</tt> file.",
		"plain text",
		"",
	),
	(
		"Data/font.dat",
		"",
		"plain text",
		"",
	),
	(
		"Data/Highmap.dat",
		"",
		"plain text",
		"",
	),
	(
		"Data/htmlpic.dat",
		"",
		"plain text",
		"",
	),
	(
		"Data/music.dat",
		"",
		"plain text",
		"nb-music",
	),
	(
		"Data/ScapeChars.bat",
		"",
		"shell script",
		"",
	),
	(
		"Data/ScapeIcon.dat",
		"",
		"plain text",
		"",
	),
	(
		"Data/statusbar.dat",
		"",
		"plain text",
		"",
	),
	(
		"Data/Wachstum.dat",
		"",
		"plain text",
		"",
	),
	(
		"Data/wegspeed.dat",
		"",
		"plain text",
		"",
	),
	(
		"Help/*.htm",
		"Content files for the in-game help system.",
		"plain text",
		"nb-help",
	),
	(
		"Music/*",
		"Game music, stored as uncompressed WAV files. The folder structure follows the definitions in @s:nb-music@.",
		"wave",
		"",
	),
	(
		"Profiles/Texte/*.htm",
		"Descriptions of AI enemy player characters.",
		"plain text",
		"",
	),
	(
		"Samples/*.wav",
		"Ambient sound effects and banter. See <a href='#intro-files-samples'>below</a> for transcripts.",
		"wave",
		"",
	),
	(
		"SaveGame/<profile>/xx-xx-xx-xxxxxxxxxxxxxxxx.sav",
		"Saved games. The filename is a hex encoded GUID. The display name is stored in the file.",
		"binary",
		"save",
	),
	(
		"SaveGame/<profile>/Lastgame.sav",
		"Automatically saved game state. This file is used when quick saving and quick loading.",
		"binary",
		"save",
	),
	(
		"SaveGame/<profile>/user.dat",
		"User profile file. Contains user-specific settings and completed campaign missions.",
		"binary",
		"user",
	),
	(
		"Scenes/Scenes.cach",
		"Lookup cache of all scenario files. There is a typo in the file name.",
		"binary",
		"scenes_cache",
	),
	(
		"Scenes/<category>/*.sze etc.",
		"Scenario files. Each scenario has a main scenario file and accompanying @t:*.htm@ (plain text), @t:*.bik@ (@t:bink@ video), and @t:*.hig@ (binary) files.",
		"multiple",
		["scenario", "scenario_addon", "score"],
	),
	(
		"Scenes/Islands/InselCache.txt",
		"Lookup cache of all island files. This is not a plain text file.",
		"binary",
		"islands_cache",
	),
	(
		"Scenes/Islands/<climate>/*.scp",
		"Island files.",
		"binary",
		["insel4", "insel5"],
	),
	(
		"Speech/*.wav",
		"Numbered audio files containing voice messages. See <a href='#intro-files-speech'>below</a> for transcripts.",
		"wave",
		"",
	),
	(
		"Textures/debug.{tex,inc}",
		"Contains two unnamed graphics hinting at a possible debug mode. The index file is empty and the file headers are mangled.",
		"binary",
		["tex", "access"],
	),
	(
		"Textures/Felder.{tex,inc}",
		"Ground texture graphics. The accompanying index file is empty. This is the compiled version of the @t:Data/Felder.dat@ file.",
		"binary",
		["tex", "access"],
	),
	(
		"Textures/ScapeIcon.{tex,inc}",
		"Some graphics in the style of the ealier game, Anno 1602. The file headers are mangled.",
		"binary",
		["tex", "access"],
	),
	(
		"Textures/Scape*.zei",
		"Fonts in different sizes. The file headers are mangled.",
		"binary",
		"chars",
	),
	(
		"ToolGfx/*.{tex,inc}",
		"Graphics for the internal help system, production lines, and the user interface. Some @s:tex@ files contain no graphics, and most @s:access@ files are nondescript. Files with an 8 at the end of the name are used when the game runs at a resolution of 800x600.",
		"binary",
		["tex", "access"],
	),
	(
		"ToolGfx/*.zei",
		"Fonts used in the game. Files with an 8 at the end of the name are used when the game runs at a resolution of 800x600.",
		"binary",
		["access"],
	),
	(
		"Videos/*.bik",
		"Cutscenes.",
		"bink video",
		"",
	),
	(
		"*.ins in patches",
		"Patches ship changes to the @s:figuren@ and @s:anlagen@ files packed in @ext:*.ins@ files, e.g. @ext:Figuren.ins@ and @ext:Anlagen.ins@. See <a href='#intro-files-patches'>below</a> for details.",
		"binary",
		["figuren", "anlagen"],
	),
] %}
{#}
	(
		"",
		"",
		"",
		"",
	),
{#}

<table>
	<tr>
		<th>Path</th>
		<th>Description</th>
		<th>Format</th>
	</tr>

	{% for a, b, c, d in entries %}
		<tr>
			<td><tt>{{ a|e }}</tt></td>
			<td>{{ b|flags|e }}</td>
			<td>{% if d|is_list %}{{ d|wrap_all_str('@s:', '@')|join(', ') }} ({{ c|flags }}){% elif d %}@s:{{ d }}@ ({{ c|flags}}){% else %}{{ c|flags }}{% endif %}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}

{% block textbelow -%}
<script>
	function toggleElement(id, btn, text) {
		var doc = document.getElementById(id);

		if (doc.style.display != 'none') {
			doc.style.display = 'none';
			btn.text = '▷ ' + text + ' (click to show)'
		} else {
			doc.style.display = '';
			btn.text = '▽ ' + text + ' (click to hide)'
		}
	}
</script>

{% macro transcripts(filepath) %}
	<a href="#" onclick="toggleElement('{{ filepath }}', this, 'Transcripts'); return false;">▷ Transcripts (click to show)</a>

	<div id="{{ filepath }}" style="display: none;">
		<p>
			{%- highlight 'dmesg' -%}
			{%- include filepath -%}
			{%- endhighlight -%}
		</p>
	</div>
{% endmacro %}


<h3 id="intro-files-speech">Voice messages</h3>

<p>The voice messages from the <tt>Speech/</tt> folder have been automatically
transcribed below. The transcripts contain lots of errors, though.</p>

<p>{{ transcripts("files/speech.log") }}</p>


<h3 id="intro-files-samples">Audio samples</h3>

<p>Some audio samples in the <tt>Samples/</tt> folder contain spoken text. The
automatic transcripts below are incomplete and contain lots of errors, where
the software detected speech that does not exist.</p>

<p>{{ transcripts("files/samples.log") }}</p>


<h3 id="intro-files-registry">Windows registry</h3>

<p>Some settings are not stored in game data files but in the Windows registry.</p>

<h4>Multiplayer</h4>

<p>Apply this registry change to enable the multiplayer mode:</p>

<p>{% highlight "registry" %}
Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\Max-Design]

[HKEY_CURRENT_USER\Software\Max-Design\ANNO1503]
"MULTIPLAYER"=dword:00000001
{% endhighlight %}</p>

<p>The @t:Anno Net Tool@ is available in the @l:AnnoPool:https://www.annopool.de/filebase/index.php?file/1874-1503-annonettool/@
(@l:Archive:https://web.archive.org/web/20230301142320/https://www.annopool.de/filebase/index.php?download/1741/@).
This package also contains multiplayer maps and details on how to use proxy servers.</p>


<h3 id="intro-files-patches">Patch files</h3>

<p>Changes shipped in patches in the @ext:Figuren.ins@ and @ext:Anlagen.ins@ files are valid @s:figuren@
	and @s:anlagen@ files. They don't contain all entries from the original, i.e. to-be-patched files,
	and most entries do not include graphics. In this case, the @p:figuren/ANNO/FIGUREN/ENTRY/COLORS@
	(resp. @p:anlagen/ANNO/ANLAGEN/ENTRY/COLORS@) and @p:figuren/ANNO/FIGUREN/ENTRY/HAEUSER@
	(resp. @p:anlagen/ANNO/ANLAGEN/ENTRY/HAEUSER@) blocks are empty.</p>

<p>It can be assumed that non-empty blocks from the patch files will replace the corresponding
	blocks in the original files, even though many blocks don't contain changes.</p>

<p>In entries that do contain graphics, the image headers point to valid data offsets. This
	suggests that the game or the patching engine rewrites all image headers in the patch
	during patching.</p>

<p><strong>Validity:</strong> patch files are generally valid @s:anlagen@ or @s:figuren@ files
	but required blocks may be missing. In @ext:Figuren.ins@ this may be the @p:figuren/ANNO/FIGUREN/ENTRY/LOGIC@
	and @p:figuren/ANNO/FIGUREN/ENTRY/BEWOHNTYPE@ blocks, in @ext:Anlagen.ins@ the
	@p:anlagen/ANNO/ANLAGEN/ENTRY/PROD3@, @p:anlagen/ANNO/ANLAGEN/ENTRY/WARE@, @p:anlagen/ANNO/ANLAGEN/ENTRY/WALKMASK@,
	@p:anlagen/ANNO/ANLAGEN/ENTRY/SHOTMASK@, and @p:anlagen/ANNO/ANLAGEN/ENTRY/OWNMASK@ blocks.</p>
{%- endblock %}
