{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-lengths' %}
{% set iid = 'length' %}
{% set name = 'Field Lengths' %}

{% block text %}{% endblock %}

{% block table %}
	<tr id="{{ iid }}-fixed">
		<td>1, 2, ..., n</td>
		<td>fixed number of bytes</td>
	</tr>
	<tr id="{{ iid }}-plus">
		<td>(number + n)</td>
		<td>fixed number of bytes plus the length of all children</td>
	</tr>
	<tr id="{{ iid }}-rest">
		<td>*</td>
		<td>remaining bytes at the end of a block</td>
	</tr>
{% endblock %}

{% block textbelow %}{% endblock %}
