{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-counts' %}
{% set iid = 'count' %}
{% set name = 'Field Counts' %}

{% block text %}{% endblock %}

{% block table %}
	<tr id="{{ iid }}-fixed">
		<td>1, 2, ..., n</td>
		<td>fixed number of times</td>
	</tr>
	<tr id="{{ iid }}-plus">
		<td>+</td>
		<td>one or more times</td>
	</tr>
	<tr id="{{ iid }}-optional">
		<td>?</td>
		<td>never or one time</td>
	</tr>
	<tr id="{{ iid }}-any">
		<td>*</td>
		<td>never or any number of times</td>
	</tr>
	<tr id="{{ iid }}-na">
		<td>-</td>
		<td>not applicable</td>
	</tr>
{% endblock %}

{% block textbelow %}{% endblock %}
