{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-paths' %}
{% set iid = 'paths' %}
{% set name = 'Object Paths' %}

{% block text %}
<p>Any data structure can be addressed using a unique path. This path can be used in
mods (see @topic:mod-structure:Modding@) and tools provided by the reference implementation
of this library (e.g. the @t:pselect@ script).</p>

<p>You can copy the path of any element in this documentation by hovering over the "Path" field
of header blocks, or the identifier in the "identifier" column of any data block, and
clicking "copy to clipboard".</p>

<h3>Basic structure</h3>

<p>Paths are built like file paths, with elements separated by forward slashes (@t:/@).
Each element can optionally refer to a specific object ID. Paths can either match
multiple objects, or refer to a specific object.</p>

<p>Structure:
	<ul>
		<li>path selecting all matching structures: @t:element/element/element@</li>
		<li>path selecting a specific structure from all matches: @t:element/element/element / index@</li>
	</ul>
</p>

<h3>Elements</h3>

<p>Elements are the building blocks of paths. Each element consists of a selector,
and optionally a specific object ID.</p>

<p>Structure:
	<ul>
		<li>selector without ID: @t:selector@</li>
		<li>selector with ID in the @t:id@ attribute: @t:selector@@@t:identifier@</li>
	</ul>
</p>

<h4>Selectors</h4>

<p>Elements can select blocks based on their name, their type, or their identifier.</p>

<p>Structure:
	<ul>
		<li>block name: @t:NAME@, e.g. @t:ANNO@, @t:HAEUSER@, etc.</li>
		<li>type: one of @t:data@ or @t:group@</li>
		<li>identifier: @t:#my-id@, e.g. @t:#maint-pause@, @t:#mapped-palette-id@, etc.</li>
	</ul>
</p>

<h4>Identifiers</h4>

<p>Nodes can be selected based on the integer value of a child data node. Most
entry-style nodes have a unique ID in a data block with the identifier @t:entry-id@,
e.g. @p:anlagen/ANNO/ANLAGEN/ENTRY/#entry-id@.</p>

<p>Structure:
	<ul>
		<li>ID in the @t:entry-id@ attribute: @t:selector@@@t:id-value@</li>
		<li>ID in a custom attribute: @t:selector@@@t:id-selector:id-value@</li>
	</ul>
</p>

<p>The @t:id-value@ field must be a positive integer value. The optional @t:id-selector@
field must contain the identifier of a data node of type @t:uint@ that is a direct
child of the node selected with @t:selector@. For example, this path selects a
palette entry in a @f:anlagen@ file: @t:ANNO/COLORS/ENTRY@@@t:palette-id:1@.</p>

<h3>Indices</h3>

TODO

<h3>Examples</h3>

TODO

{% endblock %}

{% block table %}
{% endblock %}

{% block textbelow %}
{% endblock %}
