{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-intro-howto' %}
{% set name = 'How to read this documentation' %}

{% block text -%}
<p>Do not read this documentation straight from top to bottom. See the sections
below for possible entry points, and use this documentation as a reference.</p>

<h3>Overview</h3>

<p>Binary game data files are encoded following a hierarchical pattern. Each level
in the hierarchy can be understood as a folder containing files, while the files
themselves have a file type and cannot have further entries.</p>

<p>Such a "folder" is called block. A block consists of a header and a body part,
where the former describes the name of the block together with the
length of its body part. The latter can contain more blocks and/or any data such
as game logic like building costs. Each block's name or header identifies the
block, read @l:Block Types:#topic-block-types@ for more information.</p>

<p>A "file" is called chunk or data block and consists of individually encoded
data. Read @l:Data Formats:#topic-formats@ for details about all data formats.</p>

<h3>Files</h3>

<p>The @l:Files:#topic-intro-files@ section describes all game data files, where
they are stored in the game directory. Use this list to find details about a
specific file.</p>

<h3>Structures</h3>

<p>The @l:File Specifications:#toc-spec@ section describes the strucutre of
each game data file in detail. Use this list as a reference for using the library
and for modding.</p>

<h3>Modding</h3>

<p>The @l:Modding:#topics-mods@ section contains documentation on how to write mods.
Each mod encapsulates descriptions of changes to be made to the game data files.
The changes are encoded as game data structures and use the paths and details
described in each specification (cf. @l:File Specifications:#toc-spec@).</p>
{%- endblock %}

{% block table_full -%}
{# table is disabled, prefer to use "block table" otherwise #}
{%- endblock %}

{% block textbelow -%}
{%- endblock %}
