{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-intro-about' %}
{% set name = 'About the project' %}

{% block text -%}
<h3>What is Amsel?</h3>
<p>The Anno Modding System and Exploration Library (Amsel for short) is a
library for working with the game files of the 2002 game <tt>Anno 1503</tt>.</p>

<p>The library is designed to work
with all game data files but its main focus is the German Königsedition version.
Differences between versions including the History Edition are undocumented, and
the library is only tested with the Königsedition.</p>

<h3>What is Anno 1503?</h3>
<p>1503 A.D.: The New World is, like its predecessor, a 2D-strategy game where the player colonizes a new world. The first important part is the constructing of several buildings which are used for different means, e.g. residences or plant facilities. There he needs to ensure a logical arrangement to reach short production cycles and the population's satisfaction. With preceding time there demands grow which force the player to expand and build more respectively more effective buildings.</p>

<p>As the game knows 46 resources it is unlikely that the player finds all on one island. This also results in the need of expansion which may be against the interests of the up to three AI opponents or one of the nine neutral factions. These problems can be resolved with trading or military action. The latter is still a small part of the gameplay but is noticeable more complex than in 1602 A.D., now the player has a few formation and behaviour orders to his disposal and the 14 military units gain experience. Other innovations are a research function where the player works on upgrades, four new climates and more production cycles.</p>

<p>Besides the free playing mode with randomly generated islands the game also features ten scenarios and, also new, a campaign with twelve missions. (Source: @l:Mobygames:https://www.mobygames.com/game/7613/1503-ad-the-new-world/@)</p>
{%- endblock %}

{% block table_full -%}
{# table is disabled, prefer to use "block table" otherwise #}
{%- endblock %}

{% block textbelow -%}
{%- endblock %}
