{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-formats' %}
{% set name = 'Data Formats' %}

{% block text %}
	<ol>
		{% for key, short, doc in formats %}
			{% if short or doc %}
				<li><a href="#format-{{ key|e }}">{{ key|e }}</a>{% if short %}: <span>{{ short }}</span>{% endif %}</li>
			{% else %}
				<li id="format-{{ key|e }}">{{ key|e }} <small>(undocumented)</small></a></li>
			{% endif %}
		{% endfor %}
	</ol>

	{% for key, short, doc in formats %}
		{% if short or doc %}
			<h3 id="format-{{ key|e }}">{{ loop.index }}. {{ key|e }}</h3>
			<div>
				{% if short %}<p>{{ short|e }}</p>{% endif %}
				{% if doc -%}
					{%- for para, as_pre in doc -%}
						{%- if as_pre -%}
							<p><pre><code>{{ para|e|dedent|trim }}</code></pre></p>
						{%- else -%}
							<p>{{ para|e }}</p>
						{%- endif -%}
					{%- endfor -%}
				{%- endif %}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block table_full %}
{# table is disabled #}
{% endblock %}

{% block textbelow %}{% endblock %}
