{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-image-formats' %}
{% set iid = 'image-format' %}
{% set name = 'Image Formats' %}

{% block text %}
<p>The game uses a range of custom image formats for storing bitmap data. They may
be based on PCX, as all color palette names have this suffix.</p>
{% endblock %}

{% set features_dict = dict(
	color='256 colors',
	alpha='transparency',
	zbuffer='z-buffer',
	wbuffer='w-buffer',
	alpha_only='transparent/opaque',
	bw='black/white') %}

{% macro tablerow(name, features) %}
	<tr id="{{ iid }}-{{ name }}">
		<td>{{ name }}</td>
		<td>{% for f in features -%}
			{%- if f == '???' -%}unclear{%- else -%}
			<a href="#image-format-feature-{{ f }}">{{ features_dict[f] }}</a>
			{%- endif -%}
			{%- if not loop.last %}, {% endif %}{% endfor %}</td>
	</tr>
{% endmacro %}

{% macro feature(key) %}
<h4 id="image-format-feature-{{ key }}">{{ features_dict[key] }}</h3>
{% endmacro %}

{% macro todo_check(what) %}
<p><small>TODO: check implementation in libaf-legacy ({{ what }})</small></p>
{% endmacro %}

{% block table %}
	{{ tablerow("BSH_RGBAZ", ["color", "alpha", "zbuffer"]) }}
	{{ tablerow("BSH_RGBAV", ["color", "alpha"]) }}
	{{ tablerow("BSH_RGBAH", ["color", "alpha"]) }}
	{{ tablerow("BSH_RGBWZ", ["color", "wbuffer"]) }}
	{{ tablerow("BSH_RGBZ",  ["color", "zbuffer"]) }}
	{{ tablerow("BSH_RGBV",  ["color"]) }}
	{{ tablerow("BSH_RGBH",  ["color"]) }}
	{{ tablerow("BSH_ALPHA", ["alpha_only"]) }}
	{{ tablerow("BSH_OUTLN", ["bw"]) }}

	{{ tablerow("BSH_MASK", ["???", "bw"]) }}
	{{ tablerow("BSH_RGBW", ["???", "wbuffer"]) }}
	{{ tablerow("BSH_RGBZM",["???", "zbuffer"]) }}
	{{ tablerow("BSH_RGB",  ["???", "color"]) }}
	{{ tablerow("TEX_RGB",  ["???", "color"]) }}
	{{ tablerow("TEX_RGBA", ["???", "color", "alpha"]) }}
{% endblock %}

{% block textbelow %}

<h3>General Structure</h3>

<h4>Color Depth</h4>

<p>All image formats except for <tt>BSH_MASK</tt> and <tt>BSH_OUTLN</tt> have a color
depth of 24 bit.</p>

<h4>Header</h4>

<p>TODO: classic headers, font headers</p>

<pre>
...
</pre>

<h4>Data</h4>

<pre>
1.  read 1 B as "state"

    if state == 254: start next row
    elif state == 255: end of image data reached
    else: skip 1*state transparent pixels

2.  read 1 B as "count"

3.  for 1..count: read n B as "pixel data" (depending on the format)
</pre>

<p>It is possible that the game does not support more than 240 subsequent pixels,
as values <tt>count > 240</tt> have not been observed yet.</p>

{{ todo_check("alpha?") }}

<p>In some formats (at least <tt>BSH_RGB</tt> found (mostly?) in <tt>*.tex</tt>
files), all lines are written out completely. All other formats skip the rightmost
transparent pixels and put the line-end marker after the last color pixels.</p>

<pre>
BSH_RGB:
  (data...)(state=N=transparent pixels)(count=0=no color pixels)(state=254=next row)

others:
  (data...)(state=254=next row, transparency implied)
</pre>

<h3>Features</h3>

{{ feature("color") }}

<p>The last byte of the pixel data is a reference to an entry in the image's color
palette, as specified in the header.</p>

<pre>
3.  for 1..count:
      read n B as "other data" (depending on the format, may be 0 bytes)
      read 1 B as "color reference"
</pre>

{{ feature("alpha") }}

<p>Transparency is saved in the first 2 bit of <tt>count</tt> and is thus limited
to discrete levels.</p>

<pre>
2.  read 1 B as "count"
      shift 2b as "transparency" (applied to all subsequent pixels in this batch)
      shift 6b as "count"
</pre>

{{ todo_check("mapping and number of levels, endianness, shift direction") }}

{{ feature("zbuffer") }}

<p>Depth maps (z-buffer) are stored in the first byte of the pixel data.</p>

<pre>
3.  for 1..count:
      read 1 B as "z-buffer value"
      read n B as "other data" (depending on the format)
</pre>

{{ feature("wbuffer") }}

<p>This is encoded in the same ways as z-buffer depth maps.</p>

<p>(It is not yet clear whether the game actually uses different kinds depth maps.
The current distinction is speculation based on the image format name.)</p>

{{ feature("alpha_only") }}

<p>This cannot be combined with other features and is only used in <tt>BSH_ALPHA</tt>.
There is no dedicated pixel data as the format is monochrome.
</p>

<pre>
2.  read 1 B as "count"

3.  store "count" pixels as non-transparent
</pre>

<p>A color of black with alpha 100/256 (#64000000) appears to be used in
the game.</p>

{{ feature("bw") }}

<p>Either <tt>BSH_MASK</tt> or <tt>BSH_OUTLN</tt> is used for fonts. (The names
are not actually specified in font files.) The format technically supports a
color depth of 8 bit but only three values (1, 2, 3) have been observed.</p>

<p>This format has an alpha channel, as the drop shadow is slightly transparent
in the game.</p>

<p>This feature cannot be combined with other features.</p>

<pre>
3.  for 1..count:
      read 1 B as "color" (1 = black, 2 = white, 3 = drop shadow)
</pre>

{{ todo_check("colors, zeidec, annotext") }}

{% endblock %}
