{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'topic-magics' %}
{% set name = 'Magic Codes' %}

{% block text %}
	<p>Magic codes are used to identify files by reading the first few bytes.
	The magic codes used here consist of an offset followed by the expected values:</p>

	<p><tt>16|43 4F 4C 4F 52 53 00 00 00 00 00 00</tt></p>

	<p>16@d is the absolute offset from the beginning of the file (in decimal), whereas
		43 4F 4C 4F 52 53 00 00 00 00 00 00@x is the hexadecimal representation of
		the string COLORS@t followed six bytes of zero-padding. Most files start
		with ANNO@t so the magic codes have to be from a later offset in order
		to determine the actual file type.
	</p>
{% endblock %}

{% block table_full %}
{# table is disabled #}
{% endblock %}

{% block textbelow %}{% endblock %}
