{% extends "topic_base.html" %}

{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

{% set id = 'file-nb-script' %}
{% set name = 'Scenario Script' %}
{% set brief = 'Custom scripting language for scenarios (@p:scenario/ANNO/SCENE/BIGBROTHER@)' %}

{% block text -%}
<p>Scenario scripts  are written in a custom scripting language which is not yet
fully understood. The library currently only has rudimentary support for parsing
scripts through the separate @t:script-parse.py@ and @t:script-extract.py@ tools.
Normally, scripts are treated as text blocks when parsing scenario files.</p>

<p>Scripts can be found in the @p:scenario/ANNO/SCENE/BIGBROTHER@ and
@p:scenario_addon/ANNO/SCENE/BIGBROTHER@ blocks.</p>
{%- endblock %}

{% block table_full -%}
{# table is disabled, prefer to use "block table" otherwise #}
{%- endblock %}

{% block textbelow -%}
<a href="#" onclick="toggleElement('script-docs', this, 'Documentation example'); return false;">▷ Documentation example (click to show)</a>

<div id="script-docs" style="display: none;">
	<p>
		{%- highlight 'dmesg' -%}
		{%- include "files/scripts.a2s" -%}
		{%- endhighlight -%}
	</p>
</div>
{%- endblock %}
