{#
  This file is part of amsel.
  SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
  SPDX-License-Identifier: GPL-3.0-or-later
#}

<div class="topic">
	{% block head %}
		<h2 id="{{ id }}">{{ name }}</h2>
	{% endblock %}

	{% filter flags %}
	{% block text %}{% endblock %}
	{% endfilter %}

	{% filter flags %}
	{% block table_full %}
		<table>
			<tr>
				<th>Token</th>
				<th>Explanation</th>
			</tr>
			{% block table %}
			{% endblock %}
		</table>
	{% endblock %}
	{% endfilter %}

	{% filter flags %}
	{% block textbelow %}{% endblock %}
	{% endfilter %}
</div>
