{#

Macro standard library for modding
----------------------------------

This file is part of amsel.
SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
SPDX-License-Identifier: GPL-3.0-or-later

#}

{#
    Error reporting
    ---------------
#}

{% macro abort(error) %}
    {# raises an error during template resolution #}
    {{ None['[ERROR] ' ~ error][0] }}
{% endmacro %}

{# kate: syntax Jinja2/XML; space-indent on; indent-width 4; #}
