{#
	This file is part of amsel.
	SPDX-FileCopyrightText: 2020-2024  Emily Margit Mueller
	SPDX-License-Identifier: GPL-3.0-or-later
#}

{% macro include_values(source, title, as_code=false) %}
	<details>
		<summary>{{ title }}</summary>
		<p>
			{% if as_code %}
				{% highlight 'python' %}
					{%- filter dedent -%}
						{%- include source -%}
					{%- endfilter -%}
				{% endhighlight %}
			{% else %}
				<pre>
					{%- filter dedent -%}
						{%- include source -%}
					{%- endfilter -%}
				</pre>
			{% endif %}
		</p>
	</details>
{% endmacro %}
